.button {
  border: 0px none;
  border-bottom: 2px solid #7b8794;
  outline: none;
  width: 100px;
  font-size: 20px;
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-weight: bold;
}
.list {
  list-style-type: none;
}
.active {
  border-bottom: 2px solid #2563eb;
  color: #2563eb;
}
@media (max-width: 576px) {
  .button {
    width: 85px;
  }
}
